@media only screen and (max-width: 1050px) {
    #logo-topo {
        max-width: 250px;
    }
    header .row ul li {
        margin-left: 8px;
    }
    #text-banner p {
        font-size: 38px;
    }
    header .row ul li a {
        font-size: 12px;
    }
    #faco {
        margin-top: 30px;
    }
    #tecnologias i {
        font-size: 100px;
    }
    #photoshop {
        font-size: 70px;
        padding: 3px;
        margin-left: 12px;
    }
    #contato ul li,
    #contato ul li a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        background-position: right;
        background-size: 254% 625px;
    }
    #nav {
        display: none;
    }
    .open-menu {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    header #menu-mobile {
        position: fixed;
        background-color: #fff;
        width: 80%;
        height: 100%;
        right: 80px;
        z-index: 5;
    }
    header.open-menu #menu-mobile {
        right: 0;
    }
    header.open-menu #menu-mobile-mask {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 4;
    }
    header.open-menu .bar-close {
        position: absolute;
        background-color: #0984e3;
        bottom: 0;
        height: 40px;
        width: 100%;
    }
    header.open-menu .bar-close .btn-close {
        background: none;
        border: none;
        color: #fff;
        font-size: 22px;
    }
    header.open-menu #menu-mobile li {
        text-align: center;
        border-top: #0984e3 1px solid;
    }
    header.open-menu #menu-mobile li:last-child {
        border-bottom: #0984e3 1px solid;
    }
    header.open-menu #menu-mobile ul {
        margin: 20px;
    }
    header.open-menu #menu-mobile li a {
        color: #0984e3;
        font-family: 'Montserrat-light';
        font-weight: bold;
        font-size: 16px;
        padding: 18px;
        display: block;
        outline: none;
        text-transform: uppercase;
    }
    #btn-bars {
        color: #fff;
        font-size: 26px;
        position: absolute;
        top: 15px;
        background: none;
        border: none;
        display: block;
        right: 6%;
    }
    .active #btn-bars {
        color: #0984e3;
    }
    #text-banner p {
        font-size: 30px;
    }
    #text-banner button {
        font-size: 13px
    }
    #biografia {
        margin-bottom: 54px;
    }
    #tecnologias,
    .background-design {
        height: inherit;
    }
    #trabalhos h2 {
        margin-top: 70px;
    }
    #trabalhos hr {
        width: 259px;
    }
    #contato .col-xs-4 h4 {
        font-size: 16px;
    }
    #contato ul li i {
        padding: 4px;
        width: 22px;
    }
}

@media only screen and (max-width:480px) {
    #text-banner p {
        font-size: 24px;
    }
    #img-gui img {
        max-width: 280px;
    }
    footer ul li a {
        font-size: 20px;
    }
    footer img {
        max-width: 190px;
    }
    #contato ul li,
    #contato ul li a {
        font-size: 8px;
    }
    #contato .col-xs-4 {
        display: none;
    }
    #contato ul li i {
        width: 12px;
        border: none;
    }
    #contato ul li {
        margin-bottom: 0;
    }
}