@font-face {
    font-family: 'Montserrat-medium';
    src: url("../fonts/montserrat/Montserrat-Medium.ttf");
    font-size: 1em;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
    font-size: 1em;
}

@font-face {
    font-family: 'Montserrat-light';
    src: url("../fonts/montserrat/Montserrat-Light.ttf");
    font-size: 1em;
}

@font-face {
    font-family: 'Montserrat-semibold';
    src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
    font-size: 1em;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header {
    width: 100%;
    background-image: url("../img/16309.jpg");
    background-repeat: no-repeat;
    height: 625px;
    position: relative;
}

#menu {
    z-index: 10;
    width: 100%;
    height: 75px;
    position: fixed;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#logo-topo {
    max-width: 300px;
    max-height: 70px;
    width: auto;
    height: auto;
    padding-top: 10px;
    filter: grayscale(100%) brightness(100);
}

header ul {
    position: absolute;
    right: 10%;
    top: 30px;
}

header ul li {
    display: inline-block;
    margin-left: 12px;
}

header ul li a {
    font-family: 'Montserrat-medium';
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    font-size: 16px;
}

header ul li a:hover {
    color: #0984e3;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menu.active {
    background-color: #fff;
    box-shadow: 2px -5px 22px #383838;
}

#menu.active img {
    filter: none;
}

#menu.active ul li a {
    color: #0984e3;
}

#menu.active ul li a:hover {
    color: #00c53f;
}

#text-banner {
    position: absolute;
    top: 200px;
    left: 30%;
    right: 30%;
}

#text-banner p {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 45px;
    text-shadow: 1px 1px 4px #383838;
}

#text-banner button {
    color: #fff;
    background-color: #0984e3;
    font-family: 'Montserrat-medium';
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#text-banner button:hover {
    color: #0984e3;
    background-color: #fff;
}


/*SOBRE*/

#sobre {
    margin-top: -70px;
    padding-top: 75px;
    background-color: #fff;
}

.text-sobre h2 {
    font-family: 'Montserrat-medium';
    color: #0984e3;
    text-transform: uppercase;
}

#biografia hr {
    border: #00c53f solid 2px;
    width: 174px;
    margin-top: -8px;
    margin-left: 0;
}

.text-sobre p {
    text-align: justify;
    font-family: 'Montserrat-light';
    color: #383838;
}

.text-sobre ul li {
    display: inline-flex;
    margin-right: 50px;
}

.text-sobre ul li a {
    font-size: 30px;
}

#img-gui img {
    max-width: 400px;
    max-height: 345px;
    width: auto;
    height: auto;
    margin-top: 50px;
}

#biografia button {
    font-family: 'Montserrat';
    text-transform: uppercase;
    background-color: #0984e3;
    color: #fff;
    border-radius: 0;
    position: absolute;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#biografia button:hover {
    color: #0984e3;
    background-color: #fff;
    border: #0984e3 solid 2px;
}

.text-sobre h3 {
    color: #383838;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 20px;
}

#faco hr {
    border: #00c53f solid 2px;
    width: 247px;
    margin-left: 0;
    margin-top: -8px;
}

#tecnologias {
    height: 250px;
    width: 100%;
    background-color: #0984e3;
    margin-top: 30px;
}

#tec {
    margin-top: -40px;
}

#tecnologias h2 {
    font-family: 'Montserrat-medium';
    color: #fff;
    text-transform: uppercase;
}

#tecnologias hr {
    margin-top: -8px;
    margin-left: 0;
    border: #fff solid 2px;
    width: 215px;
}

#tecnologias .col-sm-2 {
    text-align: center;
}

#tecnologias i {
    color: #fff;
    font-size: 132px;
}

#tecnologias .col-sm-2:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#tecnologias p {
    font-family: 'Montserrat';
    text-align: center;
    color: #fff;
}

#photoshop {
    color: #0984e3;
    font-size: 93px;
    font-weight: bold;
    border-radius: 10%;
    padding: 8px;
    padding-bottom: 0px;
    background-color: #fff;
}

#photoshop p {
    margin-top: -9px;
}

#trab {
    margin-top: -60px;
}

#trabalhos .col-sm-3 img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    padding-top: 15px;
}

#trabalhos h2 {
    font-family: 'Montserrat-medium';
    color: #0984e3;
    text-transform: uppercase;
}

#trabalhos hr {
    margin-top: -8px;
    margin-left: 0;
    border: #00c53f solid 2px;
    width: 453px;
}

#trabalho-dev h3,
#trabalho-design h3 {
    font-family: 'Montserrat-medium';
    text-transform: uppercase;
}

#trabalho-dev h3,
#trabalho-design h3,
#trabalho-dev hr,
#trabalho-design hr {
    margin-left: 15px;
}

#trabalho-dev {
    margin-bottom: 30px;
}

#trabalho-dev hr {
    margin-top: -8px;
    border: #383838 solid 2px;
    width: 243px;
}

#trabalhos h4 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 14px;
}

#trabalhos button {
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    background-color: #0984e3;
    border-radius: 0;
    outline: none;
    margin-bottom: 20px;
    border: #0984e3 solid 2px;
}

#trabalhos button:hover {
    color: #fff;
    border: #fff solid 2px;
    background-color: #757779;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#trabalhos .col-md-3:hover {
    box-shadow: 1px 1px 4px #383838;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#trabalho-design button {
    font-size: 10px;
}

#trabalho-design h3,
#trabalho-design h4 {
    color: #fff;
}

#trabalho-design hr {
    margin-top: -8px;
    border: #fff solid 2px;
    width: 90px;
}

#trabalho-design {
    position: relative;
}

.background-design {
    width: 100%;
    height: 416px;
    background-color: #757779;
}

#contato {
    background-color: #0984e3;
    color: #fff;
}

#contato h2 {
    font-family: 'Montserrat-medium';
    color: #fff;
    text-transform: uppercase;
}

#contato hr {
    margin-top: -8px;
    margin-left: 0;
    border: #fff solid 2px;
    width: 142px;
}

#contato input,
#contato textarea {
    width: 100%;
    border-radius: 0;
}

#contato textarea {
    height: 183px;
}

#contato ul li,
#contato ul li a {
    font-family: 'Montserrat-light';
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

#contato ul li {
    margin-bottom: 22px;
    list-style-type: none;
    margin-left: -38px;
}

#contato .col-xs-4 h4 {
    text-transform: uppercase;
}

#contato .col-xs-4 hr {
    width: 80%;
}

#contato ul li i {
    margin-right: 5px;
    border: #fff solid 1px;
    padding: 7px;
    width: 35px;
}

#contato button {
    border-radius: 0;
    border: #fff solid 2px;
    background-color: transparent;
    text-transform: uppercase;
    font-family: 'Montserrat-light';
    outline: none;
}

#contato button:hover {
    color: #0984e3;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 1px 1px 4px #383838;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

footer {
    background-color: #3b3d40;
}

footer ul {
    padding-top: 20px;
}

footer ul li {
    display: inline-block;
    margin-left: 10px;
}

footer ul li a {
    font-size: 30px;
    color: #fff
}

footer ul li a:hover {
    color: #0984e3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

footer img {
    max-width: 300px;
    max-height: 70px;
    width: auto;
    height: auto;
    padding-top: 10px;
    filter: grayscale(100%) brightness(100);
}

footer img:hover {
    filter: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}